table {
    border-collapse: collapse;
    width: 60%;
}

th, td {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ffb4b4;
}

td, th {
    transition: all 0.3s ease; /* Плавное изменение */
}

td:hover, th:hover {
    background-color: lightskyblue; /* Бледный тиффани (на 40% светлее) */
    cursor: pointer;
    font-size: 1.5em; /* Увеличение шрифта */
}

.no-hover:hover {
    background-color: inherit !important; /* Наследует стандартный цвет */
    font-size: inherit !important; /* Оставляет исходный размер */
    cursor: default !important; /* Убирает изменение курсора */
}